body {
    font-size: larger;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Top to bottom, left to right*/
.i1
{
    /*Camp*/
    position: absolute;
    left: 725px;
    top: 295px;
}

.t1
{
    position: absolute;
    left: 680px;
    top: 265px;
    color: #FFD700;
}

.i2
{
    /*Tower*/
    position: absolute;
    left: 407px;
    top: 721px;
}

.t2
{
    position: absolute;
    left: 380px;
    top: 690px;
    color: #FFD700;
}

.i3
{
    /*Tower*/
    position: absolute;
    left: 1019px;
    top: 697px;
}

.t3
{
    position: absolute;
    left: 1004px;
    top: 667px;
    color: #FFD700;
}

.i4
{
    /*Camp*/
    position: absolute;
    left: 290px;
    top: 780px;
}

.t4
{
    position: absolute;
    left: 255px;
    top: 750px;
    color: #FFD700;
}

.i5
{
    /*Keep*/
    position: absolute;
    left: 710px;
    top: 895px;
}

.t5
{
    position: absolute;
    left: 685px;
    top: 870px;
    color: #FFD700;
}

.i6
{
    /*Camp*/
    position: absolute;
    left: 1200px;
    top: 760px;
}

.t6
{
    position: absolute;
    left: 1165px;
    top: 730px;
    color: #FFD700;
}

.i7
{
    /*Keep*/
    position: absolute;
    left: 200px;
    top: 1160px;
}

.t7
{
    position: absolute;
    left: 160px;
    top: 1135px;
    color: #FFD700;
}

.i8
{
    /*Keep*/
    position: absolute;
    left: 1307px;
    top: 1120px;
}

.t8
{
    position: absolute;
    left: 1270px;
    top: 1095px;
    color: #FFD700;
}

.i9
{
    /*Camp*/
    position: absolute;
    left: 311px;
    top: 1416px;
}

.t9
{
    position: absolute;
    left: 255px;
    top: 1390px;
    color: #FFD700;
}

.i10
{
    /*Tower*/
    position: absolute;
    left: 532px;
    top: 1356px;
}

.t10
{
    position: absolute;
    left: 510px;
    top: 1330px;
    color: #FFD700;
}

.i11
{
    /*Tower*/
    position: absolute;
    left: 977px;
    top: 1392px;
}

.t11
{
    position: absolute;
    left: 955px;
    top: 1365px;
    color: #FFD700;
}

.i12
{
    /*Camp*/
    position: absolute;
    left: 1190px;
    top: 1435px;
}

.t12
{
    position: absolute;
    left: 1125px;
    top: 1410px;
    color: #FFD700;
}

.i13
{
    /*Camp*/
    position: absolute;
    left: 728px;
    top: 1700px;
}

.t13
{
    position: absolute;
    left: 680px;
    top: 1675px;
    color: #FFD700;
}
